$black-10: 	darken(#fff, 10%);
$black-20: 	darken(#fff, 20%);
$black-30: 	darken(#fff, 30%);
$black-40: 	darken(#fff, 40%);
$black-50: 	darken(#fff, 50%);
$black-60: 	darken(#fff, 60%);
$black-70: 	darken(#fff, 70%);
$black-80: 	darken(#fff, 80%);
$black-90: 	darken(#fff, 90%);

$blue_gf: 	#23272d;
$pink_taco: rgb(238,64,124);

$magenta: 	#eb008b; // #FF149B;
$yellow:	#fbb714;
$blue: 		#0cabb8;

$gray_bgd: 	#ebebe8;

$text_color: #263333;