<!-- licitación-->
  <div id="licitacion">
          <div class="row divider">
            <div class="col-sm-12">
              <p class="title_section">Licitación</p>
              <h1>ADQUISICIÓN DE MATERIALES PARA OFICINA 003</h1>
              <h2><%= ocid %> <span class="label complete">COMPLETO</span></h2>
              <p class="lead">PAPELERIA PARA EL ALMACÉN CENTRAL</p>
            </div>
          </div>
          <div class="row divider">
            <div class="col-sm-4">
              <p class="title_section">PRESUPUESTO (MXN)</p>
              <h2 class="amount"><b class="budget"></b><span>$</span>93,000</h2>
            </div>
            <div class="col-sm-4">
              <p class="title_section">Gastado (MXN)</p>
              <h2 class="amount"><b class="spent"></b><span>$</span>69,252</h2>
            </div>
            <div class="col-sm-4">
              <p class="title_section">% GASTADO</p>
              <div class="percent">
                <div class="budget" style="width: 70%"></div>
                <div class="spent"></div>
              </div>
              <p class="title_section"><span>0</span> <span class="right">100</span></p>
            </div>
          </div>
          <div class="row divider">
            <div class="col-sm-12">
              <p class="title_section">Línea de tiempo</p>
            </div>
          </div>
          <div class="row divider">
            <div class="col-sm-4">
              <p class="title_section">COMPRADOR</p>
              <p>SECRETARÍA DE FINANZAS </p>
            </div>
            <div class="col-sm-4">
              <p class="title_section">MÉTODO DE ADQUISICIONES</p>
              <p>ABIERTO</p>
            </div>
            <div class="col-sm-4">
              <p class="title_section">CRITERIOS DE ADJUDICACIÓN</p>
              <p>MEJOR OFERTA</p>
            </div>
          </div>
          
          <div class="row divider">
            <div class="col-sm-8">
              <p class="title_section">ARTÍCULOS</p>
              <ul>
                <li class="row">
                  <span class="col-sm-9"> CARPETA C/PERCALINA T/OFICIO (VA.COLORES)</span>
                  <span class="col-sm-3">400 PZA</span>
                </li>
                <li class="row">
                  <span class="col-sm-9">BROCHE TRIUNFO No. 2 (MARIPOSA)</span>
                  <span class="col-sm-3">1500 CS</span>
                </li>
                <li class="row">
                  <span class="col-sm-9">BLOCK NOTAS AUTOADHERIBLES DE 3 X 3</span>
                  <span class="col-sm-3">600 PZA</span>
                </li>
                
              </ul>
            </div>
            
            <div class="col-sm-4">
              <p class="title_section">DOCUMENTOS</p>
            </div> 
          </div>
          
          <div class="row">
            <div class="col-sm-4">
              <p class="title_section">LICITADORES que aplicaron</p>
              <h2 class="amount">2</h2>
              <ol>
                <li><a href="#">ABASTECEDORA ARAGONESA SA DE CV</a> - <a href="#" class="link_doc">Propuesta</a></li>
                <li><a href="#">CLAUDIA GABRIELA IÑIGUEZ OCHOA</a> - <a href="#" class="link_doc"> Propuesta</a></li>
              </ol>
            </div>
            <div class="col-sm-4">
              <p class="title_section">Adjudicaciones</p>
              <h2 class="amount">2</h2>
              <ol>
                <li><a href="#">ABASTECEDORA ARAGONESA SA DE CV</a></li>
                <li><a href="#">CLAUDIA GABRIELA IÑIGUEZ OCHOA</a></li>
              </ol>
            </div>
            <div class="col-sm-4">
              <p class="title_section">Contratos</p>
              <h2 class="amount">2</h2>
              <ol>
                <li><a href="#">CS-018-2015</a></li>
                <li><a href="#">CS-019-2015</a></li>
              </ol>
            </div> 
          </div> 
  </div>